@font-face{
  font-family : "けいふぉんと";
  src : url("./fonts/keifont.ttf") format("truetype");
}

body{
  margin : 20px;
  padding : 50px 10px 50px 10px;
  font-family : "けいふぉんと";
  color : blue;
}

.header{
  position : fixed;
  top : 0;
  left : 0;
  weight : 100%;
  height : 35px;
  padding : 10px;
  text-alighn : center;
  font-size : 75%;
}
